.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.square {
  background-color: #E8BD0D;
  border: 1px solid #E8BD0D;
  float: left;
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 80px;
  height: 80px;
  color: white;
  margin: 10px;
  border-radius: 5px;
  background-image: rgb(97, 155, 203);
}

.square:active {
  background: rgb(90, 150, 199);
}
/* Board */
.board-row :after {
  clear: both;
  content: "";
  display: table;
}
.game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}
/* Game Info */
ul {
  padding-left: 30px;
}
.game-info {
  margin-left: 20px;
}
.status {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .game-board {
     width: 100%;
  }
  .game-board div {
     padding: 10px auto;
     text-align: center;
  }
  .board-row {
     width: 100%;
  }
}
